<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <title>Starbucks Locator</title>

  <!-- Bring in our bootstrap stylesheet -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container-fluid">
        <div class="jumbotron text-center">
            <p>Welcome to the US Starbucks Locations API!<br/>
                <br/>
                You can use this API to query city, state combinations in the United States and return the address of every Starbucks in that city!<br/>"
                <br/>
                Specify a city and state in the format above when executing API to return the address of all Starbucks' in your city.<br/></p>
</body>
</html>