<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starbucks Locator</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="./static/Starbucks_logo.PNG" width="50" height="50" alt="">
          </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="./api/Miami/FL">API Demo</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="content-fluid">
         <div class="jumbotron">
            <h1 class="display-4">API Documentation</h1>
            <hr class="my-4">
            <h2 class="display-6">Welcome to the US Starbucks Locations API</h2>
            <hr class="my-4">
            <p class="display-8">
            <ul>
                <li>When the User inputs a city and state this API will return addresses for 
                    all Starbucks stores located in that city.  
                    The returned object will be  a list of JSON objects.</li>
                <li>URL routes:  /api/&ltcity&gt/&ltstate&gt</li>
                <li>Method: Get</li>
                <li>URL parameters:  City and State.  Both are required.</li>
                <li>Error Resonses:</li>
                    <ul>
                        <li>404 Code:  Page Not Found HTML opens.</li>
                        <li>500 Code:  500 Error HTML opens.</li>
                    </ul>
                <li>The demo will return all Starbucks stores located in Miami, Florida</li></p>
            </ul>         
          
            <hr class="my-4">
            <p class="lead">
              <a class="sb-button sb-button--default mt5" style="min-width: 50px; min-height:  50px;" href="./api/Miami/FL" >API DEMO</a>
            </p>
        </div>
     </div>
    <div class="container">
        <div class="row">
                <div class="col-sm-12"></div>
                    <img src="./static/Store_front.PNG" class="img-fluid" alt="Responsive image">
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>